*.o
*.bin
*.elf
*.log
build/
managed_components/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
__pycache__/
.deepseek/
.vscode/
Chat_exports/
Sessions_export/
*.png
*.jpg
*.bmp
*.zip
*.rar
*.tar.gz
*.exe
sdkconfig
sdkconfig.old
dependencies.lock