# ESP32-S3 target
CONFIG_IDF_TARGET_ESP32S3=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_SPI_MASTER_IN_IRAM=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10

# Partycja SPIFFS dla fontów (16MB flash)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# PSRAM 8MB (octal)

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
# CONFIG_ESPTOOLPY_OCT_FLASH is not set
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=y

# ST7735 – TFT SPI2 (IO9-IO14, lewa strona DevKitC-1)
# IO9=RST  IO10=CS  IO11=MOSI  IO12=SCLK  IO13=MISO  IO14=DC  IO38=BL
# ⚠ IO38 = BUILTIN LED – sterowanie PWM będzie wpływać na diodę na płytce
CONFIG_ST7735=y
CONFIG_WIDTH=160
CONFIG_HEIGHT=128
CONFIG_OFFSETX=1
CONFIG_OFFSETY=2
CONFIG_MOSI_GPIO=11
CONFIG_SCLK_GPIO=12
CONFIG_TFT_CS_GPIO=10
CONFIG_DC_GPIO=14
CONFIG_RESET_GPIO=9
CONFIG_BL_GPIO=38
CONFIG_SPI2_HOST=y
CONFIG_FRAME_BUFFER=y
CONFIG_RGB_COLOR=y
# SD MISO współdzielone z TFT na SPI2
# MISO=IO13 (lewa strona, sąsiad IO12=SCLK)
# XPT2046 MISO (jeśli touchscreen) = IO13
CONFIG_XPT2046_ENABLE_SAME_BUS=y